<section id="about-container">
	<div id="about-text">
		<h2>About me</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla.</p>
	</div>
	<div id="about-icons">
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-html5"></i>
			</div>
			<div class="icon-text">
				<h3>HTML5</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-css3-alt"></i>
			</div>
			<div class="icon-text">
				<h3>CSS3</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-js"></i>
			</div>
			<div class="icon-text">
				<h3>JavaScript</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-sass"></i>
			</div>
			<div class="icon-text">
				<h3>SASS</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-angular"></i>
			</div>
			<div class="icon-text">
				<h3>Angular</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-npm"></i>
			</div>
			<div class="icon-text">
				<h3>NPM</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-node"></i>
			</div>
			<div class="icon-text">
				<h3>node</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-git-square"></i>
			</div>
			<div class="icon-text">
				<h3>git</h3>
			</div>
		</div>
		<div class="icon-container">
			<div class="icon">
				<i class="fab fa-github"></i>
			</div>
			<div class="icon-text">
				<h3>github</h3>
			</div>
		</div>
	</div>
</section>
