<section class="form-container">
	<form [formGroup]="editorForm" (ngSubmit)="onSubmit()" novalidate>
		<div id="form-header">
			<h2> Edit project </h2>
		</div>

		<div class="form-group" style="display: none;">  
			<label for="id">ID</label>
			<input type="text" name="id" formControlName="id"/>
		</div>

		<div class="form-group">  
			<label for="title">Title</label>
			<input type="text" name="title" placeholder="Enter Title..." formControlName="title"/>
		</div>

		<div class="form-group">  
			<label for="description">Description</label>
			<textarea type="text" name="description" minlength="0" maxlength="200" placeholder="Enter description..." formControlName="description"></textarea>
		</div>

		<div class="form-group">  
			<label for="url">URL</label>
			<input type="text" name="url" placeholder="Enter URL..." formControlName="url"/>
		</div>

		<div class="form-group">  
			<label for="icon">Icon</label>
			<input type="text" name="icon" placeholder="Enter icon..." formControlName="icon"/>
		</div>

		<div class="form-group">  
			<label for="icon2">Live icon</label>
			<input type="text" name="icon2" placeholder="Enter icon..." formControlName="icon2"/>
		</div>

		<div class="form-group">  
			<label for="liveUrl">Live URL</label>
			<input type="text" name="liveUrl" placeholder="Enter URL..." formControlName="liveUrl"/>
		</div>		

		<button type="submit">Submit</button>
	</form>
</section>