<section id="contact-container">
	<div id="contact-text">
		<h2>Contact</h2>
	</div>
	<form [formGroup]="editorForm" (ngSubmit)="onSubmit()" novalidate>
		<div class="input-section">
    		<label for="name">Name: <span *ngFor="let message of failure">{{ message.name }}</span></label>
    		<input type="text" name="name" class="input" placeholder="Your Name..." formControlName="name">
  		</div>
  		<div class="input-section">
    		<label for="email">Email: <span *ngFor="let message of failure">{{ message.email }}</span></label> 
    		<input type="email" name="email" class="input" placeholder="Your Email..." formControlName="email">
  		</div>
  		<div class="input-section">
    		<label for="message">Message: <span *ngFor="let message of failure">{{ message.emailMessage }}</span></label>
    		<textarea class="textarea" name="message" placeholder="Compose your message..." formControlName="message"></textarea>
  		</div>
      <p *ngFor="let message of success">{{ message.Message }}</p>
  		<button type="submit">Submit</button>
	</form>
</section>