@import '../../../assets/styles/_variables.sass'
#contact-container
	width: 100%
	min-height: 100vh
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	#contact-text
		width: 100%
		height: 40vh
		display: flex
		justify-content: center
		align-items: center
		background-color: #D3E6E5
		h2 
			color: $secondary-header-color
			font-family: $main-font
	form
		width: 60%
		height: 500px
		margin-top: 5%
		margin-bottom: 5%
		border: solid 1px grey
		display: flex
		flex-direction: column
		padding: 2rem
		font-family: $secondary-font
		input
			width: 80%
			padding: 0.5rem
		.input-section
			display: flex
			flex-direction: column
			margin-top: 2%
			margin-bottom: 2%
			.textarea
				height: 200px
				padding: 0.5rem
		button
			height: 80px
			padding: 1rem
			font-family: $secondary-font
			background-image: $main-gradient
			color: #f1f1f1
			border: 0
@media (max-width: 1024px) and (orientation: portrait)
	#contact-container
		form
			width: 80%
			height: 100%
			box-sizing: border-box
			padding: 2rem
			.input-section
				margin-top: 2%
				margin-bottom: 2%
				input
					border: solid 1px grey
				label
					margin-bottom: 0.5rem
				textarea
					border: solid 1px grey
@media (max-width: 732px) and (orientation: landscape)
	#contact-container
		form
			width: 80%					
@media (max-width: 415px) and (orientation: portrait)
	#contact-container
		form
			width: 90%
			button
				height: 50px