<section class="portfolio-container">
	<div id="portfolio-text">
		<h2>Portfolio</h2>
	</div>
	<div class="portfolio-thumbnails">
		<div class="thumbnail">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>Project Example</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla. Duis porta leo sed nunc pellentesque porta.</p>
					<a href="https://github.com"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="thumbnail">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>Project Example</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla. Duis porta leo sed nunc pellentesque porta.</p>
					<a href="https://github.com"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="thumbnail">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>Project Example</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla. Duis porta leo sed nunc pellentesque porta.</p>
					<a href="https://github.com"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="thumbnail">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>Project Example</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla. Duis porta leo sed nunc pellentesque porta.</p>
					<a href="https://github.com"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="thumbnail">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>Project Example</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla. Duis porta leo sed nunc pellentesque porta.</p>
					<a href="https://github.com"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</div>
		<div class="thumbnail">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>Project Example</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit venenatis ipsum, sit amet gravida felis ultricies pellentesque. Integer odio nisl, placerat quis tempus ac, ultrices et nulla. Duis porta leo sed nunc pellentesque porta.</p>
					<a href="https://github.com"><i class="fab fa-github"></i></a>
				</div>
			</div>
		</div>
	</div>	
</section>
