<section class="portfolio-container">
	<div id="portfolio-text">
		<h2>Portfolio</h2>
	</div>
	<div class="portfolio-thumbnails" *ngIf="projects">
		<div class="thumbnail" *ngFor="let project of projects">
			<div class="card">
				<div class="thumbnail-image">
					<img src="../../assets/images/thumbnail.png" alt="Thumbnail placeholder">
				</div>
				<div class="thumbnail-text">
					<h3>{{ project.title }}</h3>
					<p>{{ project.description }}</p>
					<a href="{{ project.url }}"><i class="{{ project.icon }}"></i></a>
					<a *ngIf="userService.loggedIn" (click)="deleteProject(project._id)"><i class="far fa-times-circle"></i></a>
				</div>
			</div>
		</div>
	</div>	
</section>
