//Font Colours
$primary-link-color: #f1f1f1
$secondary-link-color: #5599ff
$primary-header-color: #f1f1f1
$primary-paragraph-color: #f1f1f1
//Fonts
$main-font: 'Exo 2', sans-serif
$secondary-font: 'Open Sans', sans-serif
//Gradients
$main-gradient: linear-gradient(to right top, #308681, #0090a1, #0098c5, #009be7, #5599ff)
$secondary-gradient: linear-gradient(to right top, #1a1c2b, #20212f, #252732, #2b2c36, #31323a)