@import '../../../assets/styles/_variables.sass'
nav
	position: absolute
	top: 0
	width: 100%
	height: 50px
	z-index: 1000
	background-color: #2D837F
	ul
		float: right
		margin-right: 1rem
		li
			list-style: none
			display: inline
			padding: 1rem
			a
			 color: white
			 font-family: $secondary-font
			 text-decoration: none
			a:hover
				color: $secondary-link-color
	span
		color: white
		font-family: $main-font
		float: left
		padding: 1rem
@media (max-width: 1024px)
	nav
		text-align: center
		display: flex
		flex-direction: column
		align-items: center
		ul
			width: 100%
			padding: 1rem
			margin: 0
			background-color: #D3E6E5
			box-sizing: border-box
			li a
				color: #2D837F
		span
@media (max-width: 325px)
	nav ul li
		padding: 0.5rem